<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/skeleton.css" />
  <link rel="stylesheet" href="/assets/css/app.css" />
  <title>とーふとふの自己紹介</title>
</head>
<body>
  <div id="app" class="container">
    <h1>とーふとふの自己紹介</h1>
    <div>
      <p>初めまして！とーふとふと言います！</p>
        <div><i class="fab fa-github"></i><a href="//github.com/tohutohu">@tohutohu</a></div>
        <div><i class="fab fa-twitter"></i><a href="//twitter.com/to_hutohu">@to_hutohu</a></div>
    </div>
  </div>
</body>
</html>
