.message {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.message-body .action-button {
  margin: 0px 3px;
  color: #c1c1c1;
  cursor: pointer;
}

.message-body .action-button:hover {
  color: #444444;
}

.input-container {
  position: fixed;
  bottom: 0;
  height: 200px;
  width: 70%;
}

.message-list-footer {
  height: 200px;
}

body {
  margin: 0px
}
