.message {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.message-body .action-button {
  margin: 0px 3px;
  color: #c1c1c1;
  cursor: pointer;
}

.message-body .action-button:hover {
  color: #444444;
}

.overray {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.85);
}
