<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>vg-1day-2018</title>
  <link rel="stylesheet" href="/assets/css/skeleton.css"/>
  <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
  <div class="container">
    <h1>Profile</h1>
    <p>
      Nickname: yuta<br/>
      GithubId: yut-kt<br/>
      Grade : M1<br/>
    </p>
  </div>
  <script src="/assets/js/vue.js"></script>
  <script src="/assets/js/whatwg-fetch.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
